<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Info</title>
</head>
<body>
    <h1>Погода</h1>
    <p><strong>Країна:</strong> {{ weather_info.country }}</p>
    <p><strong>Місто:</strong> {{ weather_info.city }}</p>
    <p><strong>Координати:</strong> {{ weather_info.coords }}</p>
    <p><strong>Погода:</strong> {{ weather_info.weather }}</p>
    <p><strong>Температура:</strong> {{ weather_info.temp }} °C</p>
</body>
</html>
